*{
    margin:0;
    font-family: Arial;
    border:border-box
}
.navbar{
    height:60px;
    background-color: #0F1111;
    color:white;
    display: flex;/* sob kisu nav bar ey automatically ft hoye jabe joto div achey*/
    align-items: center;
    justify-content: space-evenly;

}
.nav-logo{
    height: 50px;
    width:100px ;
}
.logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    height:50px;
    width:100%
}
.border{
    border:1.5px solid transparent; /* amazon ey cursor niley j white box ashey*/
}
.border:hover{
    border:1.5px solid white;
}
/*box2*/
.add-first{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left:15px;

}
.add-sec{
    font-size: 1rem;
    margin-left: 3px;

}
.add-icon{
    display: flex;
    align-items: center;
}
/*bOX 3 search bar in navigation*/
.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    height: 40px;
    width: 620px;
    border-radius: 3px;

}
.search-select{
    border-top-left-radius: 3px;
    border-bottom-left-radius:3px ;
    background-color: #f3f3f3;
    width: 50px;
    text-align: center; /*All center ey eshey gese*/
    border:none;
}
.search-input{
    width:100%;
    font-size: 1rem;
    border: none;
}
.search-icon{
    width:45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
}
.nav-search:hover{
    border: 2px solid orange;
}
/*box4*/
span{
    font: size 0.7rem;
    color: #cccccc;
}
.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}